/* landing page */

body{
    background-color: white;
    margin: auto;
}

#black-background{
    background-color: black;
}

#scroll-text{
    left: 50%;
    bottom: 50px;
    transform: translate(-50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    color: #7c7c7c; 
    position: fixed;
}

.landing-page{
    display: flex;
    flex-direction: column; 
    height: 2500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.landing-section{
    margin: 250px 100px 250px 100px;
    display: flex;
    flex-direction: column; 
}

#big-title{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 120px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

#mid-body{
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

#mid-title-highlight{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #ed1765;
}

#landing-page-btn{
    width: 300px;
    height: 50px;
    flex-grow: 0;
    margin: 50px auto 50px auto;
    border: 0;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    background-color: #fff;
    color: #ed1765;
    box-shadow: 0 0 20px #BCBEC0;
}

#kst-sign {
    height: 120px;
    margin: 200px auto 200px auto;
  }





/* axo view page */

#back-btn{
    width: 50px;
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 2;
}
#start-journey{
    width: 8%;
    height: auto;
    position: absolute;
    top: 175%;
    left: 15%;
    z-index: 2;
}

#axo-view-pic{
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}

#target-tag{
    width: 8%;
    position: absolute;
    top: 15%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #BCBEC0;
}
#kst-tag{
    width: 8%;
    position: absolute;
    top: 60%;
    left: 40%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #BCBEC0;
}
#nail-salon-tag{
    width: 8%;
    position: absolute;
    top: 80%;
    left: 35%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #BCBEC0;
}
#elpc-tag{
    width: 8%;
    position: absolute;
    top: 70%;
    left: 78%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #BCBEC0;
}
#duo-tag{
    width: 8%;
    position: absolute;
    top: 96%;
    left: 70%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #BCBEC0;
}
#whole-foods-tag{
    width: 8%;
    position: absolute;
    top: 120%;
    left: 65%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #BCBEC0;
}
#dance-studio-tag{
    width: 8%;
    position: absolute;
    top: 158%;
    left: 36%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #BCBEC0;
}






/* acts page */

#fixed-bottom{
    z-index: 2;
    bottom: 0;
    position: fixed;
}

#fixed-people{
    height: 150px;
    margin-left: 50%;
    transform: translate(-50%);
}

#fixed-roads{
    width: 100vw;
}
#road-1{
    border: 5px solid #A9D196;
    margin: 0;
}
#road-2{
    border: 3px solid #7C7C7C;
    margin: 0;
}
#road-3{
    border: 6px solid #A8977F;
    margin: 0;
}

.all-acts{
    display: flex;
    flex-direction: row;
}

.act-frames{
    position: relative;
    top: 0;
    left: 10%;
}
#act-graph{
    height: 97vh;
    position: relative;
    top: 0;
    left: 0;
}
#act-text{
    height: 97vh;
    position: absolute;
    top: 0;
    left: 0;
}

.wireframes{
    position: relative;
    left: 10%;
}
#act-wireframe{
    height: 92vh;
    position: relative;
    left: 0;
    top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

#small-body-fly-kst{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    color: #ed1765;
    position: absolute;
    top: 25%;
    left: 4%;
}

#small-body-fly-dance{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    color: #ed1765;
    position: absolute;
    top: 15%;
    left: 5%;
}

#small-body-fly-elpc{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    color: #ed1765;
    position: absolute;
    top: 45%;
    left: 20%;
}

#small-body-fly-ns{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    color: #ed1765;
    position: absolute;
    top: 4%;
    right: 10%;
}

#small-body-fly-wf{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    color: #ed1765;
    position: absolute;
    top: 25%;
    left: 8%;
}

#small-body-fly-duo{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    color: #ed1765;
    position: absolute;
    top: 15%;
    left: 8%;
}
